h2 {
    font-size: 24px;
}

.description {
    height: 40px;
}

.employee_img {
    width: 120px;
    height: 120px;
}

.sidebar {
    background-color: #F2F2F2;
    height: 92vh;
}

.sessionImg {
    width: 240px;
    height: 240px;
}

.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.signup_forms {
    margin-top: 4vh;
    padding: 2vh;
    background-color: #F2F2F2;
}

.login_forms {
    margin-top: 16vh;
    padding: 2vh;
    background-color: #F2F2F2;
}